<h1 class="title">Bienvenidos a nuestra Tienda</h1>
<h2 class="subtitle">LISTA DE PRODUCTOS</h2>

<section class="container">
  {{#each products}}
    <div class="card">
      <img src="" alt="img-product" {{this.thumbnaild}} />
      <h2>Titulo: {{this.title}}</h2>
      <p>Descripción: {{this.description}}</p>
      <p>Categoría: {{this.category}}</p>
      <h3>Precio: ${{this.price}}</h3>
      <button class="btn-card">AGREGAR AL CARRITO</button>
    </div>
  {{/each}}
</section>

{{#if hasPrevPage}}
    <a class="pageLink" href="/products?page={{prevPage}}"> Anterior </a>
{{/if}}

{{#if hasNextPage}}
    <a class="pageLink" href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}}

<p>Pagina {{currentPage}} de {{totalPages}} </p>